.price-container {
  margin-inline: 5em;
  margin-block: 3em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.message-error {
  display: none;
}

.price-container img {
  max-width: 5em;
}

.price-box {
  text-align: initial;
}
